<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TruchOLX</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/bootstrap-dialog")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/fileupload")
    @Scripts.Render("~/bundles/switch")
    @Scripts.Render("~/bundles/loginjs")

</head>
<body>
    <div class="main-header">
        <div id="image-header">
            <img src='/Images/header-3.png' />
            <div id="login-display">
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation" id="menu-navegacion">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-li" id="home"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="Gestion">Gestión <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("Index", "Gestion")">Publicar</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="Administracion">Administración<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("Index", "Usuario")">Usuarios</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Perfil")">Perfil</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("LogOff", "Account")">Salir <span class="glyphicon glyphicon-off red button-grid"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="body-content">
        @RenderBody()
        <div class="main-footer">
            <p>&copy; @DateTime.Now.Year - La mejor App :D</p>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
<script type='text/javascript'>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
