@model SGITO_OBRAS.Service.Model.VentaModel
@{
    ViewBag.Title = "DetailVenta";
}
<style>
    .card {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        height: 320px;
        margin: 1rem;
        position: relative;
        width: 300px;
    }

    .card-text {
        padding: 5px;
    }

    .card-img-top {
        padding-top: 10px;
        width: 260px;
        height: 160px;
        border-radius: 5px;
    }

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
</style>


@{ SGITO_OBRAS.Service.Model.VentaModel VentaModel = (TempData["venta"] ?? null) as SGITO_OBRAS.Service.Model.VentaModel;
    string perfil = TempData["Perfil"].ToString();


    <div class="content-fluid">
        <div class="col-md-12" style="margin-bottom: 40px;">
            <div class="panel panel-telefonica">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalle de Venta</h3>
                </div>
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    @{
                        string error = (TempData["Error"] ?? string.Empty) as string;
                        if (!string.IsNullOrEmpty(error))
                        {
                            <div class="alert alert-danger fade in" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                                <span style="font-weight: bold;font-size: medium;">Error:</span>
                                @error
                            </div>
                        }

                        string exito = (TempData["Exito"] ?? string.Empty) as string;
                        if (!string.IsNullOrEmpty(exito))
                        {
                            <div class="alert alert-success fade in" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                <span style="font-weight: bold;font-size: medium;">Excelente:</span>
                                @exito
                            </div>
                        }
                    }
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div id="crearContenido" class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="nombreVenta">Nombre Venta</label>
                                    <input name="name" class="form-control" disabled value="@VentaModel.venta.nombreVenta" />

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="descripcion">Breve Descripción</label>
                                    <input name="name" class="form-control" disabled value="@VentaModel.venta.descripcion" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="cantDormitorios">Cantidad de Dormitorios</label>
                                    <input type="number" name="name" class="form-control" disabled value="@VentaModel.venta.cantDormitorios" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="cantBaños">Cantidad de Baños</label>
                                    <input type="number" name="name" class="form-control" disabled value="@VentaModel.venta.cantBaños" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="cantmetros">Cantidad de Metros Cuadrados</label>
                                    <input type="number" name="name" class="form-control" disabled value="@VentaModel.venta.metrosCuadrados" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="tipo">Tipo</label>
                                    @Html.DropDownList("desplegableTipo", null, "Seleccione...", new { @id = "desplegableTipo", Name = "desplegableTipo", @class = "form-control", placeholder = "Seleccione...", disabled = "disabled" })

                                </div>

                                <div class="col-md-4 form-group">
                                    <label for="precio">Precio en ‎ARP</label>
                                    <input type="number" name="name" class="form-control" disabled value="@VentaModel.venta.precio" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="provincias">Provincia</label>
                                    @Html.DropDownList("provincias", null, "Seleccione...", new { @id = "provincias", Name = "provincias", @class = "form-control", placeholder = "Seleccione...", disabled = "disabled" })

                                </div>
                            </div>

                            <div class="row" style="text-align:center; padding:20px">
                                @{

                                    if (!String.IsNullOrEmpty(VentaModel.strAdjId))
                                    {
                                        char[] splitchar = { ';' };
                                        var idAdj = VentaModel.strAdjId.Split(splitchar);
                                        foreach (var id in idAdj)
                                        {
                                            <img class="card-img-top" src="@id" alt="Sin Imagen">
                                        }
                                    }
                                }
                            </div>


                            @using (Html.BeginForm("Mensaje", "Gestion"))
                            {
                                <div class="row" id="desdeotro" style="display:none;">
                                    <label class="col-md-12" for="msj">Deja un mensaje al Vendedor</label>
                                    <div class="col-md-11 form-group">
                                        <input type="text" class="form-control" name="msjes" id="msj" />
                                        <input style="display:none;" type="number" name="valor" id="valor" value="@VentaModel.venta.ventaId" />
                                    </div>
                                    <div class="col-md-1 form-group form-group">
                                        <button type="submit" class="btn btn-success btn-adjunto">Enviar</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                @{
                    if (perfil != "Vendedor")
                    {
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-2 pull-right">
                                    <input type="button" value="Me Interesa" onclick="mostrar()" class="btn btn-publicar">
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
@Html.Partial("Modales")
<script type="text/javascript">
    $(document).ready(function () {
        $(".chosen-select").chosen({
            search_contains: true,
            placeholder_text_multiple: "Seleccione...",
            no_results_text: "Sin resultados..."
        });
        $("#lnk").click(function (evt) {
            var fakedUri = $("#lnk").prop("href");
            var uri = fakedUri.replace(firstname, $("#mensaje").val());
        });
        $('#adjunto').fileupload({
            url: '/Gestion/Subir?procesoId=1',
            autoUpload: true,
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress .progress-bar').css('width', progress + '%');
            }
        }).bind('fileuploaddone', function (e, data) {
            if (data.result.adjuntoId != "sin adjunto") {
                if ($("#strAdjId").val() == "") {
                    $("#strAdjId").val(data.result.adjuntoId);
                } else {
                    $("#strAdjId").val($("#strAdjId").val() + ";" + data.result.adjuntoId);
                }
                $("#filesSuccess").append("<div class='alert alert-sm alert-success fade in'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong><span class='glyphicon glyphicon-ok'></span></strong> " + data.result.nombreArchivo + "</div>");
                $("#adjuntoSelect").append("<option id='optionAdj_" + data.result.adjuntoId + "' value='" + data.result.adjuntoId + "'>" + data.result.nombreArchivo + "</option>");
            } else {
                msgError("Problemas al guardar archivo.");
            }
        });

        $("#btn-adjunto").click(function () {
            $("#filesSuccess").html("");
            $('.progress .progress-bar').css('width', '0%');
            $('#adjuntoModal').modal();
        });

        $("#btn-verAdjunto").click(function () {
            var id = $("#adjuntoSelect").val();
            if (id == "") {
                msgWarning("Debe seleccionar un archivo");
            } else {
                var url = "../Adjunto/Download/" + id;
                window.open(url, '_blank');
            }
        });

        $("#btn-deleteAdjunto").click(function () {
            var id = $("#adjuntoSelect").val();
            if (id == "") {
                msgWarning("Debe seleccionar un archivo");
            } else {
                data = {
                    'id': id,
                    'proceso': 'OBRA'
                }
                $.ajax({
                    url: "../Gestion/DeleteAdjuntos/",
                    cache: false,
                    data: data,
                    success: function (data) {
                        if (data == "ok") {
                            $("#optionAdj_" + id).remove();
                            var strId = $("#strAdjId").val();
                            $("#strAdjId").val("");
                            var adjId = strId.split(";");
                            for (index = 0; index < adjId.length; ++index) {
                                if (adjId[index] != id) {
                                    if ($("#strAdjId").val() == "") {
                                        $("#strAdjId").val(adjId[index]);
                                    } else {
                                        $("#strAdjId").val($("#strAdjId").val() + ";" + adjId[index]);
                                    }
                                }
                            }
                            msgSuccessNorefresh("Archivo eliminado con éxito");
                        } else {
                            msgError("Problemas al eliminar el archivo");
                        }
                    }
                });
            }
        });
    });


</script>
<script type="text/javascript">
    function mostrar() {
        document.getElementById('desdeotro').style.display = 'block';
    }

</script>
